<!DOCTYPE html>
<html>
<head>
    <title>Edit Menu Item</title>
</head>
<body>
<h1>Edit Menu Item</h1>
<form method="POST" action="/menu/edit/<%= item._id %>">
    <input type="text" name="name" value="<%= item.name %>" required><br>
    <input type="number" name="price" value="<%= item.price %>" required><br>
    <input type="text" name="category" value="<%= item.category %>" required><br>
    <input type="number" name="discount" value="<%= item.discount %>"><br>
    <textarea name="description"><%= item.description %></textarea><br>
    <button type="submit">Update</button>
</form>
</body>
</html>
