<!DOCTYPE html>
<html>
<head>
    <title>Menu List</title>
</head>
<body>
<h1>Menu Items</h1>
<a href="/menu/create">Add New Item</a>
<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Discount</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    <% menu.forEach(item => { %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.category %></td>
            <td><%= item.discount %></td>
            <td><%= item.description %></td>
            <td>
                <a href="/menu/edit/<%= item._id %>">Edit</a> |
                <a href="/menu/delete/<%= item._id %>" onclick="return confirm('Delete this item?')">Delete</a>
            </td>
        </tr>
    <% }) %>
</table>
</body>
</html>
